<ion-view view-title="About Us">
  <ion-content class="padding">
  <button class="button button-block button-feedback" ng-click="goToFeedback()">Please send us feedback!</button>
    <h4> About Us</h4>
    <p> 
    	The Greater Vancouver Food Bank (GVFB) is a non-profit organization with a mission to empower people to nourish themselves by providing access to healthy food, education and training. 
    </p>

    <p>
    	The GVFB is committed to its vision of accessible, healthy and sustainable food for all and through community collaboration, is pro-actively working to help end hunger. 
    </p>
    <br>

    <h4> Contact Us </h4>
    <p>
    	1150 Raymur Ave, Vancouver, BC V6A 3T2<br>
		(604) 876-3601
	</p>
	<br>

    <h4> More Resources </h4>
    <ul>
  		<li>Programs</li>
  		<li>Nutritional Info</li>
  		<li>Events</li>
  		<li>Find Help</li>
	</ul>
  </ion-content>
</ion-view>
